.chrtContainer{
    display: inline-block;
    width: 100%;
}

.chrt{
    width: 100%;
    font-size: 48px;
    letter-spacing: 0.02em;
    font-weight:400;
    font-family: 'Bebas Neue', cursive;
    padding-top: 100px;
    text-align: center;

}

.chrtCont{
    display: block;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;

    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}
.chrtItem{

    height: 60px;
    width: 100%;
    background-color: antiquewhite;
    margin-bottom: 5px;
    

}